/* globals.css or any global stylesheet */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef9e1; /* Matches primary */
  --foreground: #a31d1d; /* Matches secondary */
  --highlight: #e5d0ac; /* Matches tertiary */
  --accent: #fef9e1; /* Matches light */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
